* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
html:before, html:after {
  content: "";
  position: fixed;
  background: #212121;
  left: 0;
  right: 0;
  height: 10px;
}
html:before {
  top: 0;
}
html:after {
  bottom: 0;
}
html {
  border-left: 10px solid #212121;
  border-right: 10px solid #212121;
}
.page__wrapper {
  padding: 10px 10px 45px;
}
.feedback-btn {
  display: none;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  background: #1ea1e0;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}
.feedback-btn:hover {
  opacity: 0.9;
}
.feedback-form {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: pink;
}
.common__feedback-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.header {
  width: 100%;
  display: block;
  padding: 0 10px;
}
.common__header {
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}
.main-nav {
  list-style: none;
  align-self: center;
  display: inline-block;
}
.nav__item {
  padding-bottom: 2px;
  display:inline-block;
}
.nav__item:hover {
  padding-bottom: 0;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: rgb(33, 33, 33);
  font-variant: small-caps;
  font-weight: 500;
  padding: 5px 5px;
}
.nav__link::after{
    display: block;
    margin: 5px auto 0;
    content: '';
    width:0px;
    height: 2px;
    background: black;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.nav__link_active::after {
    display: block;
    margin: 5px auto 0;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
}
.tagline {
  font-size: 26px;
  font-weight: 500;
  color: #bdbdbd;
  text-align: center;
  max-width: 210px;
  margin: 0 auto 22vh;
}
.logo {
  display: inline-block;
  background: url('../images/layout/Logo.svg') no-repeat 0 0;
}
.common__logo {
  width: 80px;
  height: 20px;
  margin-bottom: 10px;
}

.content {
  padding: 0 15px;
}
.content__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.content__title {
  min-width: 155px;
  font-size: 17px;
  color: rgb(33, 33, 33);
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}
.content__description {
  text-align: justify;
  font-size: 15px;
  color: rgb(33, 33, 33);
  line-height: 1.667;
  margin: -4px 0 25px;
  font-weight: 300;
}
.text__accent {
  font-weight: 400;
}

.contact {
  font-size: 20px;
  line-height: 1.9;
  color: rgb(33, 33, 33);
  text-align: center;
}

/* home */
.home__header {
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 40px);
  justify-content: space-between;
}
.home__logo {
  width: 215px;
  height: 60px;
}
.home__portfolio {

}

/* services */
.services__content {
  margin-top: 60px;
}
.services__content .content__description {
  margin-bottom: 15px;
}

/* portfolio */
.portfolio {
  width: 100%;
  font-size: 0;
  margin: 20px 0 15px;
}
.portfolio__item {
  display: block;
  width: 100%;
  border: 10px solid white;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(189,189,189,0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(189,189,189,0.4);
  box-shadow: 0px 0px 5px 0px rgba(189,189,189,0.4);
}
.portfolio__img {
  width: 100%;
}

/* contacts */
.contacts__content {
  margin: 80px auto 0px;
  max-width: 700px;
  padding: 20px;
}
.contacts__box {
  display: flex;
}
.contacts__title {
  min-width: 155px;
  font-size: 17px;
  color: rgb(33, 33, 33);
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 500;
  text-align: right;
  margin-right: 60px;
}
.contacts__description {
  font-weight: 400;
  text-align: justify;
  font-size: 16px;
  color: rgb(33, 33, 33);
  line-height: 1.667;
  margin: -4px 0 30px;
}

@media (min-width: 425px) {
  .home__logo {
    width: 280px;
    height: 80px;
  }
  .common__header {
    flex-direction: row;
  }
  .common__logo {
    margin-bottom: 0;
  }
  .main-nav {
    align-self: flex-end;
  }
}
@media (min-width: 620px) {
  .home__logo {
    width: 350px;
    height: 100px;
  }
  .tagline {
    text-align: left;
    min-width: 310px;
  }
  .content {
    max-width: 70%;
    margin: 0 auto;
  }
  .content__title {
    margin-bottom: 20px;
    text-align: left;
  }
  .contact {
    text-align: right;
  }
  .nav__item {
    margin: 0 15px;
  }
  .portfolio__item {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 0 20px 20px 0;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  html:before, html:after {
    height: 15px;
  }
  html {
    border-left: 15px solid #212121;
    border-right: 15px solid #212121;
  }
  .page__wrapper {
    padding: 15px 15px 50px;
  }
  .home__logo {
    width: 525px;
    height: 138px;
  }
  .nav__item:hover > .nav__link::after{
    width: 100%;
  }
  .content__description {
    font-size: 17px;
  }
  .content__box {
    margin-bottom: 20px;
  }
  .tagline {
    font-size: 34px;
    min-width: 403px;
  }
  .feedback-btn {
    display: block;
  }
  .portfolio {
    margin: 40px 0 30px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 960px;
  }
  .content {
    max-width: 960px;
    padding: 0 95px;
  }
  .content__description {
    margin-bottom: 35px;
  }
}
@media (min-width: 1366px) {
  .contact {
    margin-right: -95px;
  }
}
@media (min-width: 1600px) {
  html:before, html:after {
    height: 20px;
  }
  html {
    border-left: 20px solid #212121;
    border-right: 20px solid #212121;
  }
  .page__wrapper {
    padding: 20px 20px 55px;
  }
  .tagline {
    font-size: 40px;
    min-width: 470px;
  }
  .home__logo {
    width: 560px;
    height: 180px;
  }
  .header {
    max-width: 1110px;
  }
  .content {
    max-width: 1110px;
  }
}

/* blink cursor */
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.5s infinite;
  -moz-animation: blink 0.5s infinite;
  animation: blink 0.5s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* lightbox */
/* Preload images */
body:after {
  content: url(../images/layout/close.png) url(../images/layout/loading.gif) url(../images/layout/prev.png) url(../images/layout/next.png);
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  padding: 4px;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/layout/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/layout/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/layout/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/layout/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

